<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.bookmapper">
    <insert id="add" parameterType="books">
        insert into ssmbuild.books(bookName, bookCounts, detail)
        values (#{bookName}, #{bookCounts}, #{detail});
    </insert>
    <delete id="deletebyid" parameterType="int">
        delete
        from ssmbuild.books
        where bookID = #{id}
    </delete>
    <update id="updatebook" parameterType="books">
        update ssmbuild.books
        set bookName=#{bookName},
            bookCounts=#{bookCounts},
            detail = #{detail}where bookID=#{bookID};
    </update>
    <select id="query" resultType="books">
        select *
        from ssmbuild.books
        where bookID = #{ID};
    </select>
    <select id="queryall" resultType="books">
        select *
        from ssmbuild.books;
    </select>
    <select id="querybookbyname" resultType="books">
        select *
        from ssmbuild.books where bookName =#{bookName} ;
    </select>
</mapper>